.logo {
  width: 3rem;
}

.capitalize-text::first-letter {
  text-transform: capitalize;
}

.bg-image-heroe {
  background-image:
  linear-gradient(to right,
  rgba(20, 16, 51, 0.4),rgba(40, 73, 219, 0.4)),
  url('https://picsum.photos/1400/200?random=101');
  background-repeat: no-repeat;
  background-size: cover;
}